<div class="px-10">
  <div class="my-5 text-center rounded overflow-hidden p-10">
    <h1 class="mb-4 text-3xl font-black">Articles</h1>
    <p class="text-lg leading-snug">
      Our blog has <%= Article.public_count %> articles and counting!
    </p>
  </div>

  <ul>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li>
          <div class='mb-3 w-full md:w-1/2 mx-auto bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded-lg'>
            <%= link_to article do %>
              <i class="fas fa-user-edit"></i>
              <%= User.find(article.user_id).username %>
              <h2 class='font-bold'><%= article.title %></h2>
              <p><%= article.updated_at.strftime('%b %d, %Y') %></p>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
