<div class="my-20 mx-auto w-4/5 lg:w-3/5">
  <h1 class="text-3xl font-black mb-3"><%= @article.title %></h1>
  <i class="fas fa-user-edit text-lg text-gray-500"></i>
  <span class="text-lg text-gray-500">Author name</span>
  <br>
  <i class="far fa-calendar-plus text-lg text-gray-500"></i>
  <span class="text-lg text-gray-500">Created on <%= @article.created_at.strftime('%B %d, %Y') %></span>

  <br>
  <i class="fas fa-edit text-lg text-gray-500"></i>
  <span class="text-lg text-gray-500">Last updated on <%= @article.updated_at.strftime('%B %d, %Y') %></span>
  
  
  <p class="m-10 text-xl"><%= @article.body %></p>

  <% if @article.user_id == current_user&.id %>
    <ul class="flex justify-end">
      <li>
        <%= link_to "Edit", edit_article_path(@article),
            class: "mr-10 block w-24 text-center bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded" %>
      </li>
      <li>
        <%= link_to "Destroy", article_path(@article),
            class: "block w-24 text-center bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded",
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      </li>
    </ul>
  <% end %>

  

  <div class="my-8">
    <h2 class="text-xl">Comments</h2>
    <hr/>
    <% if @article.comments.empty? %>
      <h3 class="text-center my-4">There are no comments yet, be the first to share what you think</h3>
    <% else %>
      <%= render @article.comments %>
    <% end %>
  </div>

  <div class="">
    <h2 class="text-xl">Add a comment:</h2>
    <hr/>
    <%= render 'comments/form' %>
  </div>
</div>
