<nav>
  <ul class="flex flex-wrap flex-col md:flex-row items-center p-4 bg-black text-white text-base">
    <li class="md:ml-0 md:mr-auto text-xl my-auto">
      <%= link_to root_path do %>
        <i class="far fa-comment-alt"></i>
        <span>Bloggy</span>
      <% end %>
    </li>
    <li class="md:mr-10 my-2 md:my-auto">
      <% if logged_in?  %>
        <%= link_to "@#{current_user.username}", show_user_path(current_user.username) %>
      <% end %>
    </li>
    <div class="flex">
      <li class="mr-6">
        <%= link_to logged_in? ? new_article_path : login_path,
            class: 'inline-block w-36 md:w-auto text-center bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-lg' do %>
          <i class="fas fa-plus-circle"></i>
          <span>New Article</span>
        <% end %>
      </li>
      <li class="">
        <% if logged_in? %>
          <%= link_to logout_path,
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "inline-block w-36 md:w-auto text-center bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-lg" do %>
            <i class="fas fa-sign-out-alt"></i>
            <span>Log out</span>
          <% end %>
        <% else %>
          <%= link_to login_path,
                class: "inline-block w-32 md:w-auto text-center bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-lg" do %>
            <i class="fas fa-sign-in-alt"></i>
            <span>Log in</span>
          <% end %>
        <% end %>
        </a>
      </li>
    </div>
  </ul>
</nav>
