<nav>
  <ul class="flex flex-wrap flex-col md:flex-row items-center p-4 bg-black text-white text-base">
    <li class="md:ml-0 md:mr-auto text-xl my-auto">
      <%= link_to root_path do %>
        <i class="far fa-comment-alt"></i>
        <span>Bloggy</span>
      <% end %>
    </li>
    <li class="md:mr-10 my-2 md:my-auto">
      <% if logged_in?  %>
        <span><%= current_user.username %></span>
      <% end %>
    </li>
    <div class="flex">
      <li class="mr-6">
        <%= link_to "New Article", new_article_path, 
            class: 'inline-block w-32 md:w-autotext-center bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded' %>
      </li>
      <li class="">
        <% if logged_in? %>
          <%= link_to "Log out", logout_path,
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "inline-block w-32 md:w-auto text-center bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded" %>
        <% else %>
          <%= link_to "Log in", login_path,
                class: "inline-block w-32 md:w-auto text-center bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded" %>
        <% end %>
        </a>
      </li>
    </div>
  </ul>
</nav>
